
{% set size = 400 %}
{% set barWidth = 150 %}
{% set gap = 10 %}
{% set barHeight = size - barWidth - gap %}

{% set rx = 10 %}
{% set c1 = tailwind.red.n600 %}
{% set c2 = tailwind.stone.n700 %}

<svg width="{{ size }}" height="{{ size }}" xmlns="http://www.w3.org/2000/svg">
	<rect width="{{ barWidth }}" height="{{ barHeight }}" x="0" y="{{ barWidth + gap }}" fill="{{ c1 }}" rx="{{ rx }}" />
	<rect width="{{ barHeight }}" height="{{ barWidth }}" x="0" y="0" fill="{{ c2 }}" rx="{{ rx }}" />
	<rect width="{{ barWidth }}" height="{{ barHeight }}" x="{{ barHeight + gap }}" y="0" fill="{{ c1 }}" rx="{{ rx }}" />
	<rect width="{{ barHeight }}" height="{{ barWidth }}" x="{{ barWidth + gap }}" y="{{ barHeight + gap }}" fill="{{ c2 }}" rx="{{ rx }}" />
</svg>